{% extends 'Main/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h7  class="display-2"><b>GOzap</h7>

      <p>GOzap Pvt Ltd. is an Indian electronic commerce company based in New Delhi, India. Founded by Programing Duo Ojasvi Deepak and Gautam Dulgas in 2019, the company initially focus on Electronic Devices

The service competes primarily with Amazon's Indian subsidiary, and the domestic rival Snapdeal in Electronic Braches.

In October 2019, Gautam Joinned with Ojasvi Deepak and brought leading company joint Deals. with Xiaomi, One Plus , Vivo ,Oppo , Microsoft and later by November Gautam became the Developer of Website.
<br> 
<br> 
<br> 
<br> 

The website of GOzap is programed by Gautam Dulgas , maintained and updated by Ojasvi Deepak and bugs and glitches are checked by Gautam dulgas and shanti praskah  </p>
    </div>
  </div>
</b>
</h1>

  </div> <!-- /container -->

</main>





{% endblock %}